# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Environment variables
.env

# Byte-compiled / optimized / DLL files
*.so
*.dylib

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.manifest
*.spec

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Neo4j credentials or other local secrets
cred.txt
